# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
.env
.DS_Store
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Media
/media

# Static files
/static

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
ENV/
env.bak/
venv.bak/

# Pytest
.cache

# VS Code
.vscode/
